<div class="card">
  <div class="card-header">
    Summary
  </div>
  <div class="instructions">
    Placeholder:<br/>
    - Instructional text for the user explaining what is included in the summary
  </div>

  <h2>User Claims:</h2><br/>
  {{draft.userClaims}}

  <hr />

  <h2>User Terms:</h2><br/>
  <li *ngFor="let term of draft.userTerms">
    {{term}}
  </li>

  <hr />

  <h2>Term Definitions:</h2><br/>
  {{draft.userTermDefinitions}}

  <hr />

  <h2>User Overview:</h2><br/>
  {{draft.userOverview}}

</div>