<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <!-- {{terms}} -->

    <form class="term-form" #myTermsForm="ngForm" (ngSubmit)="processTerms()">
        <mat-form-field class="terms-full-width">
            <mat-label>Terms</mat-label>
            <textarea name="terms" matInput #myTerms="ngModel" [(ngModel)]="terms" [(ngModel)] = "terms" placeholder="Review Terms" required></textarea>
            
            <li *ngFor="let term of terms">
                {{term}}
            </li>


            <em class="error" *ngIf="myTerms.invalid && myTerms.touched">Terms are required</em>
        </mat-form-field>
        
        <div class="row">
            <div class="col-md-1">
                <ab-actions (previousDraft)="previousDraftOnClick()" (nextDraft)="nextDraftOnClick()" (copyDraft)="copyDraftOnClick()" (refreshDraft)="refreshDraftOnClick()"></ab-actions>
            </div>
            <div class="col-md-11">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="myTermsForm.form.invalid" type="submit">Next</button>
            </div>
        </div>

        <div class="termsError" *ngIf="termsError">
            {{termsErrorMessage}}
        </div>

    </form>

</div>