.termDefintions-full-width {
  width: 100%;
}

.termDefinitionsError {
  margin: 25px 0;
  color: red;
  font-size: 18px;
  text-align: center;
}

em.error {
  padding: 2px 5px;
  background-color: #c2185b;
  color: white;
  font-style: normal;
}

button {
  margin: 10px 5px;
  ;
}

.instructions {
  margin: 7px 7px 7px 7px;
  font-size:1.0em;
  color:gray;
}

table {
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
}

table th {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #402998;
  color: #fff;
}

.term {
  white-space: nowrap;
  width: 300px;
}

.termDefinition {
  border: 1px solid black;
  width: fit-content;
  word-wrap: break-word;
}