<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="instructions">
        <u>Placeholder:</u><br/>
        - Provide instructional text guiding the user on how to complete this specific step, including why a term
        definition can not be removed and that only the term definition can be alterred.<br/>
        - I recommend explaining what a token is, defining the token limit, and outlining the consequences of exceeding that limit.<br/>
        <u>Development Tasks:</u><br/>
        - Note, calling Open AI is an asynchronous process and data will appear after you click "Next". In future versions I will add 
        a progress spinner letting the end-user know something is happening.<br/>
        - Modifying term definitions is currently not being saved and passed to the next step.<br/>
        - Modifying terms is currently not validating.<br/>
    </div>

    <!-- {{termDefinitions}} -->

    <form class="termDefinition-form" #myTermDefinitionsForm="ngForm" (ngSubmit)="processTermDefinitions()">
        <!-- <mat-form-field class="termDefintions-full-width"> -->
            <!-- <mat-label>Term Definitions</mat-label> -->
            <!-- <textarea name="termDefinitions" #myTermDefinitions="ngModel" [(ngModel)]="termDefinitions" matInput placeholder="Review Term Definitions" required></textarea> -->
            <!-- <em class="error" *ngIf="myTermDefinitions.invalid && myTermDefinitions.touched">Term Definitions are required</em> -->
        <!-- </mat-form-field> -->

        <table>
            <thead>
                <th>Term</th>
                <th>Definition</th>
            </thead>
            <tbody>
                <tr *ngFor="let termDefinition of termDefinitions">
                    <td class="term"><mat-label>{{termDefinition.Term}}</mat-label>
                    <td class="termDefinition"><input matInput placeholder="Ex. Term Definition" value="{{termDefinition.Definition}}"></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-1">
                <ab-actions (previousDraft)="previousDraftOnClick()" (nextDraft)="nextDraftOnClick()" (copyDraft)="copyDraftOnClick()" (refreshDraft)="refreshDraftOnClick()"></ab-actions>
            </div>
            <div class="col-md-11">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="myTermDefinitionsForm.form.invalid">Next</button>
            </div>
        </div>

        <div class="termDefinitionsError" *ngIf="termDefinitionsError">
            {{termDefinitionsErrorMessage}}
        </div>

    </form>

</div>