<div class="action-full-width">
    <i class="fa fa-arrow-left" (click)="previousDraftOnClick()" matTooltip="TODO:  Show previous draft" matTooltipPosition="below"></i>
    <i class="fa fa-arrow-right" (click)="nextDraftOnClick()" matTooltip="TODO:  Show next draft" matTooltipPosition="below"></i>
    <i class="fa fa-copy" (click)="copyOnClick()" matTooltip="Copy draft to clipboard" matTooltipPosition="below"></i>
    <i class="fa fa-refresh" (click)="refreshOnClick()" matTooltip="TODO:  Refresh draft" matTooltipPosition="below"></i>
</div>